
/* 按钮的外边的盒子 */
.button-box {
	width: 200rpx;
	height: 170rpx;
}

/* 按钮的文字的设置 */
.button-text {
	width: 120rpx;
	background-color: #ffffff;
	padding: 5rpx 15rpx;
}

/* 按钮的图片的设置 */
.button-img {
	margin: 15rpx 0;
}

/* 下面的几个列表形式的按钮 */
.button-list {
	height: 80rpx;
	background-color: #f2f2f2;
	margin: 10rpx 15rpx;
}

/* 退出账户和切换账户的按钮 */
.exit-exchange-button {
	margin: auto;
}